[Unit]
Description=etcd backup

[Service]
Type=oneshot
User=ubuntu
StandardOutput=journal
StandardError=journal
Environment=AWS_DEBUG=1
ExecStart=/usr/local/bin/etcd-backup.sh