log:
  level: trace

rtsp:
  listen: ":8554" 
 
webrtc:
  listen: ":8555"
  allow_talk: 1

streams:
  incoming: 
    - "ffmpeg:http://${ENTRANCE_CAMERA_IP}/flv?port=1935&app=bcs&stream=channel0_main.bcs&user=${ENTRANCE_CAMERA_USERNAME}&password=${ENTRANCE_CAMERA_PASSWORD}#video=copy#audio=opus"
    - "exec:/config/neolink/neolink_talk.sh#backchannel=1"
