[Unit]
Description=Torrent Stack Docker Compose Service
After=network-online.target docker.service wg-quick@wg0.service torrent-stack-vpn-killswitch.service
Requires=docker.service
Wants=network-online.target wg-quick@wg0.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/docker
EnvironmentFile=/docker/torrent-stack.env
ExecStart=docker compose up -d
ExecStop=docker compose down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target