[Unit]
Description=vllm Inference Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/workspace/sglang
Environment=SGLANG_DEFAULT_THINKING=false
Environment=SGLANG_MAX_THINK_TOKENS=0
ExecStart=/usr/bin/numactl --interleave=all /root/workspace/sglang/.venv/bin/sglang serve \
  --trust-remote-code \
  --model-path /models/qwen3.8/RadixArk_Qwen3.8-27B-NVFP4 \
  --mem-fraction-static 0.95 \
  --max-running-requests 1 \
  --kv-cache-dtype fp8_e4m3 \
  --attention-backend flashinfer \
  --context-length 262144 \
  --chunked-prefill-size 2048 \
  --reasoning-parser qwen3 \
  --tool-call-parser qwen3_coder \
  --speculative-algorithm EAGLE \
  --speculative-num-steps 3 \
  --speculative-eagle-topk 1 \
  --speculative-num-draft-tokens 4 \
  --mamba-ssm-dtype bfloat16 \
  --mamba-full-memory-ratio 1.2 \
  --enable-hierarchical-cache \
  --hicache-size 16 \
  --hicache-io-backend kernel \
  --host 0.0.0.0 \
  --port 8000
TimeoutStopSec=10
Restart=always
RestartSec=5
LimitMEMLOCK=infinity
