[Unit]
Description=vllm Inference Server
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/workspace/vllm
ExecStart=/usr/bin/numactl --interleave=all /root/workspace/vllm/.venv/bin/vllm serve /models/qwen3.8/unsloth_Qwen3.8-27B-NVFP4 \
  --kv-cache-dtype fp8_e4m3 \
  --kv-offloading-size 32 \
  --max-num-batched-tokens 8192 \
  --gpu-memory-utilization 0.90 \
  --max-num-seqs 32 \
  --max-model-len 16000 \
  --enable-auto-tool-choice \
  --tool-call-parser qwen3_coder \
  --reasoning-parser qwen3 \
  --mm-encoder-tp-mode data \
  --load-format instanttensor \
  --enable-prefix-caching \
  --language-model-only \
  --performance-mode interactivity \
  --default-chat-template-kwargs '{"enable_thinking": false, "thinking_budget": 8192}' \
  --speculative-config '{"method":"mtp","num_speculative_tokens":3}' \
  --served-model-name Gemma4-31b-it \
  --port 8000 \
  --host 0.0.0.0
TimeoutStopSec=10
Restart=always
RestartSec=5
LimitMEMLOCK=infinity