[Unit]
Description=llama.cpp Inference Server
After=network.target

[Service]
Type=simple
User=root
Environment="CUDA_VISIBLE_DEVICES=0"
ExecStart=/usr/local/bin/llama-server \
      --host 0.0.0.0 \
      --port 8080 \
      -m /models/Nemotron-3-Nano-30B-A3B-Q8_0.gguf \
      -n 64000 \
      -t 16 \
      --no-mmap \
      --mlock \
      --n-gpu-layers 20 \
      --flash-attn on \
      -c 200000 \
      --jinja \
      --temp 1.0 \
      --top_p 1.0
Restart=unless-stopped
LimitMEMLOCK=infinity
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target