# /etc/systemd/system/fan-speed.service
[Unit]
Description=Set fan speeds based on CPU temperature

[Service]
Type=oneshot
ExecStart=/usr/local/bin/fan-control.sh

[Install]
WantedBy=multi-user.target