# /etc/systemd/system/fan-speed.service
[Unit]
Description=Set fan speeds 

[Service]
Type=oneshot
ExecStart=/usr/bin/ipmitool -H 192.168.10.226 -U ADMIN -P ADMIN raw 0x30 0x70 0x66 0x01 0x00 0x2D
ExecStart=/usr/bin/ipmitool -H 192.168.10.226 -U ADMIN -P ADMIN raw 0x30 0x70 0x66 0x01 0x01 0x30

[Install]
WantedBy=multi-user.target