# /etc/systemd/system/fan-speed.timer
[Unit]
Description=Re-apply fan speeds periodically

[Timer]
OnBootSec=30
OnUnitActiveSec=1min

[Install]
WantedBy=timers.target
