# /etc/systemd/system/fan-speed.service
[Unit]
Description=Set fan speeds 

[Service]
Type=oneshot
ExecStart=/usr/bin/ipmitool -U ADMIN -P ADMIN raw 0x30 0x70 0x66 0x01 0x00 0x29
ExecStart=/usr/bin/ipmitool -U ADMIN -P ADMIN raw 0x30 0x70 0x66 0x01 0x01 0x3A

[Install]
WantedBy=multi-user.target