[Unit]
Description=matrix
After=network-online.target
RequiresMountsFor=/ssd/appdata/matrix

[Container]
ContainerName=matrix

Network=apps.network

DropCapability=ALL
AddCapability=SETUID,SETGID
NoNewPrivileges=true
ReadOnly=true

Image=ghcr.io/element-hq/synapse:latest

Environment=SYNAPSE_CONFIG_DIR=/etc/matrix-synapse
Volume=/ssd/appdata/matrix/config:/etc/matrix-synapse
Volume=/ssd/appdata/matrix/media:/media

[Service]
Restart=on-failure

[Install]
WantedBy=multi-user.target