[Unit]
Description=Uptime Kuma (Healthchecks Appliance)
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/healthchecks/uptime-kuma
Environment=PORT=80
ExecStart=/usr/bin/node /opt/healthchecks/uptime-kuma/server/server.js
Restart=always

[Install]
WantedBy=multi-user.target