[Unit]
Description=MediaMTX media server
After=network-online.target

[Container]
Network=host
ContainerName=mediamtx
Image=docker.io/bluenviron/mediamtx:1.21.0
Exec="/config/mediamtx.yml"

Volume=/config/mediamtx:/config:rw
Volume=/media/mediamtx:/media:rw
Volume=/etc/localtime:/etc/localtime:ro

Environment=TZ=Europe/Oslo
EnvironmentFile=/env/surveillance/mediamtx.env

[Service]
Restart=always
TimeoutStopSec=15
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
