# Please copy this file to SUM execution directory or user home directory and rename to .sumrc
# The SUM execution directory will be read first and the user home directory will be the second priority
# Please remove "#" to activate a customized configuration

# set SUM journal level
# 0: silent, 1: fatal, 2: error, 3: warning, 4: information, 5: debug, 6: verbose
#journal_level = 0

# set SUM journal path 
# the following is an example path
#journal_path = /home/administrator/journal/supermicro/test

# set cache file path for ServiceCalls
#cache_path = /home/administrator/cache/supermicro/test

# set confirm flag polling timeout
# the unit is second
#confirm_timeout = 300

# sets the checking timeout for udp connection in seconds.
# the value should be between 1 and 240, inclusive.
#udp_timeout = 240

# set thread count for multiple systems usage
#thread_count = 50

# set retry count for multiple systems usage
#multi_retry_count = 2

# replace ':' with '-' when file name contains IPv6 address.
#ipv6_file_name_switch = 0

# set managed system https port
#https_port = 443

# set managed system RMCP port for CMM/BMC connection
#rmcp_port = 623

# set post complete polling timeout
#post_timeout = 1200 

# set certificate file for verifying customized signed firmware images
#certificate = /home/administrator/cert/public.cert

# set the default action of XML config file that GetBmcCfg and GetCmmCfg generated
# Acceptable value (case insensitive): none, change
#config_default_action = none

# set the host interface enable by SUM
#hostinterface_enable = on

# set Redfish Host Interface USB connection to CDC_ECM or RNDIS
#Network_controller = RNDIS

# set the maximum upload speed for uploading firmware file in multiple node mode. Speed is measured in Mbit/s. Default value is 1000 Mbps
#max_upload_speed = 1000

